.Custom-cart {
  border-radius: 15px;
  background-color: #efefef;
}
.routeName {
  background-color: rgb(250, 249, 252);
  border-radius: 10px;
  color: rgb(14, 13, 13);
  padding: 20px;
  margin-top: 5px;
}
.timeline {
  border-left: 2px solid rgb(17, 17, 17);
  padding: 0 10px 0 10px;
  position: relative;
}
.content1::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
  position: absolute;
  top: 4px;
  left: -6px;
}
.content2::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(12, 12, 12);
  position: absolute;
  top: 32px;
  left: -6px;
}
